// ======================================================
// Pages :: STYLEGUIDES
// ======================================================

.list-group {
  position: fixed;
  z-index: 1;
  width: 160px;
  min-width: 160px;
}
